<h1>QuestionsController#answer</h1>
<p id="user"><%= @user_question %><br><em>-You</em></p>
<p id="coach"><%= @answer %><em>-Your coach</em></p>
<%= link_to "Ask a new question", askhim_path, id:"link"%>
